<html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">


  <!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- custom styles -->
    <link rel="stylesheet" type="text/css" href="/styles/profile.css">
<script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDAfwCoggPDi6ucFfluBOo9kpJHoFbaVtM
&ibraries=geometry,places'> </script>
    <!-- jquery -->
<script type="text/javascript" src="/scripts/jquery.js"></script>
    <!-- bootstrap js -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <!-- custom script -->
  <script type="text/javascript" src="/scripts/profile.js"></script>

  <title>Home</title>
</head>
<body>


<div class='container'>

  <div class='row'>
  <div class='col-12' id='profile'>
    <h1> <%=user.first_name%>'s Profile </h1>
    <img src='https://lucenthealth.com/wp-content/uploads/PROFILE-PHOTO-PLACEHOLDER.png' class='profilePicHold' alt='Profile Pic'>

  </div>
  </div>

</div>
<h2 class='text-center tripHead'>TRIPS</h2>
<div class='content'>
<% trips.forEach(function(trip) { %>

<div class="card">


    <div class="view overlay">
        <img src= ' <%= trip.image_start[0] %> ' class="img-fluid" alt="">
        <a href="#">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>


    <div class="card-body">

        <h4 class="card-title"><%= trip.name %></h4>

        <p class="card-text"><%= trip.description %></p>
        <a href="#" class="btn btn-primary more" data-id='<%= trip._id %>'>MORE</a>
    </div>

    <% }); %>
</div>
</div>

<!-- <div class='lowButton'>
<div class='text-left prof'>
<a class='btn btn-info btn-sm col-5 logoutButton' href='#'><button>SETTINGS</button></a>
</div>

<div class='text-right prof'>
  <a class='btn btn-info btn-sm col-5 logoutButton'href="/logout"><button>LOGOUT</button></a>
</div>
</div> -->
<!-- <button>LOGOUT</button>
<button>SETTINGS</button> -->
<div class="modal" tabindex="-1" role="dialog" id='content'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Trip</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
    
    </div>
  </div>
</div>
<footer class='footer'>

  <div class='align-bottom'>
    <a class='btn btn-info btn-sm col-5 logoutButton'href="/logout">LOGOUT</a>
    <a class='btn btn-info btn-sm col-5 settingsButton' style='float: right' href='#'>SETTINGS</a>
  </div>


  <div class='container'>
    <div class='row'>
      <div class='nav-link col-3'>
      <a href='/home'><i class="fa fa-home"></i></a>
      </div>
      <div class='nav-link col-3 '>
        <a href='/search'><i class="fa fa-search"></i></a>
      </div>
      <div class='nav-link col-3'>
      <a href='/trip'>  <i class="fa fa-plus-circle"></i></a>
      </div>
    <div class='nav-link col-3 active'>
    <a href='/user'>  <i class="fa fa-user"></i></a>
    </div>
  </div>
</div>
</footer>
</body>
</html>
